#d1 {
  border: 2px dashed blue;
  width: 800px;
  height: 500px;
  font-size: 25px; }
  #d1:hover {
    font-size: 12.5px; }
  #d1 h1 {
    border: 1px solid #555;
    color: red;
    padding-left: 300px;
    background: magenta; }
